<div id="search-results-panel" ng-controller="SearchResultsController" class="jumbotron">
    <h1>Search results</h1>

    <div class="media" ng-repeat="item in items">
        <a class="media-left" ng-href="{{ item.url }}">
            <img class="media-object" ng-src="{{ item.thumb }}" alt="" />
        </a>

        <div class="media-body">
            <h4 class="media-heading">
                <a ng-href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </h4>
            {{ item.description }}
        </div>

        <hr/>
    </div>
</div>
