<top-menu></top-menu>

<div ng-controller="SearchResultsController" class="jumbotron">
    <h1 class="display-2">Search results</h1>

    <hr class="m-y-md">

    <div class="media" ng-repeat="item in items">
        <a class="media-left" ng-href="{{ item.url }}">
            <img class="media-object" ng-src="{{ item.thumb }}" alt="" />
        </a>

        <div class="media-body">
            <h4 class="media-heading">
                <a ng-href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </h4>
            {{ item.description }}
        </div>

        <hr/>
    </div>

    <img src="images/ajax-loader.gif" alt="" ng-show="isDisplayLoader"/>
</div>
