<div id="user-sign-in-panel" class="jumbotron" ng-controller="UserSignInController">
    <form ng-submit="signIn()">
        <fieldset class="form-group">
            <label>Login
                <input type="password" class="form-control" placeholder="Login">
            </label>
        </fieldset>

        <fieldset class="form-group">
            <label>Password
                <input type="password" class="form-control" placeholder="Password">
            </label>
        </fieldset>

        <button type="submit" class="btn btn-primary">SignIn</button>
    </form>
</div>
