<top-menu></top-menu>

<div class="jumbotron" ng-controller="UserPlaylistController">
    <h1 class="display-2">My playlist collection</h1>

    <hr class="m-y-md">

    <div ng-show="isAddFormDisplayed">
        <fieldset class="form-group">
            <label>Name
                <input type="text" class="form-control" name="name" ng-model="name" ng-require="true" ng-minlength="3">
            </label>

            <div role="alert">
                <span class="label label-pill label-danger" ng-show="userSignIn.email.$error.minlength">Min limit!</span>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-info" ng-click="addPlaylist(name)">Add</button>
    </div>

    <button type="submit" class="btn btn-success"
            ng-hide="isAddFormDisplayed"
            ng-click="isAddFormDisplayed = true"
    >Add playlist</button>

    <div class="media jumbotron" ng-repeat="item in [1, 2, 3]">
        <a class="media-left" href="#">
            <img class="media-object" src="http://beerhold.it/60/60" alt="">
        </a>

        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
            fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>
</div>
