<div id="user-sign-up-panel" class="jumbotron">
    <form ng-submit="signUp()">
        <fieldset class="form-group">
            <label>Login
                <input type="password" class="form-control" placeholder="Login">
            </label>
        </fieldset>

        <fieldset class="form-group">
            <label>Password
                <input type="password" class="form-control" placeholder="Password">
            </label>
        </fieldset>

        <fieldset class="form-group">
            <label>Re-Password
                <input type="password" class="form-control" placeholder="Re-Password">
            </label>
        </fieldset>

        <button type="submit" class="btn btn-primary">SignUp</button>
    </form>
</div>
